<launch>

    <arg name ="bag_filename" default= "/home/melodic/dataset/lesson1.bag"/>  

    <param name ="use_sime_time" value="true"/>

    <node name="lesson2_scan_to_pointcloud2_converter_node" pkg="lesson2" type="lesson2_node" output="screen"/>

    <node name="rviz" pkg="rviz" type="rviz" required="false"
                                    args = "-d $(find lesson2)/launch/scan2pointcloud.rviz"/>

    <node name="playbag" pkg="rosbag" type="play" args="--clock $(arg bag_filename)"/>
</launch>